/****** Object:  Table [District] ******/
CREATE TABLE [District](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceID] [int] NULL,
	[Title] [nvarchar](50) NULL) ON [PRIMARY]
GO
/****** Object:  Table [Province] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Province](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL) ON [PRIMARY]
GO
SET IDENTITY_INSERT [District] ON 

INSERT [District] ([id], [ProvinceID], [Title]) VALUES (1, 1, N'Aladağ')
INSERT [District] ([id], [ProvinceID], [Title]) VALUES (2, 1, N'Ceyhan')
INSERT [District] ([id], [ProvinceID], [Title]) VALUES (3, 1, N'Feke')
GO
SET IDENTITY_INSERT [District] OFF
GO
SET IDENTITY_INSERT [Province] ON 

INSERT [Province] ([id], [Title]) VALUES (1, N'Adana')
INSERT [Province] ([id], [Title]) VALUES (2, N'Adıyaman')
INSERT [Province] ([id], [Title]) VALUES (3, N'Afyon')
SET IDENTITY_INSERT [Province] OFF
GO